@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #101010;
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

#canvas{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 20px;
}

#tools{
    background-color: white;
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    max-width: 100%;
    background-color: turquoise;
}

button{
    cursor: pointer;
    padding: 15px 32px;
    margin: 4px 2px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
    padding: 15px 32px;
    margin: 4px 2px;
    font-size: 1.5rem;
    border: none;
    background-color: lightblue;
}

.increaseBtn{
    width: 100px;
}

.decreaseBtn{
    width: 100px;
    align-self: flex-end;
}

.note{
    font-size: 15px;
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
}

